
    <%- include("partials/header") %>

<section class="blog-post section-header-offset">
        <div class="blog-post-container container">
            <div class="blog-post-data">
                <h3 class="title blog-post-title"><%= title %></h3>
                <div class="article-data">
                    <span><%= date %></span>
                    <span class="article-data-spacer"></span>
                    <span><%= time %> min read</span>
                </div>
                <img src="/images/featured/featured-1.jpg" alt="">
            </div>

            <div class="container">
                  <%= content %>
            </div>
        </div>
    </section>

    <%- include("partials/footer") %>
     



