<%- include("partials/header") %>

    <body>

        <section class="section" style="margin-top: 5vh;">
            <div class="container">
                <h1>Reviews section</h1>
                <h2>Reviews goes here...</h2>
            </div>
        </section>

    </body>

    <%- include("partials/footer") %>